// width/height
$header-height: 34px
$toolbar-height: 40px
$formula-height: 24px
$info-cell-width: 40px
$row-height: 24px
$cell-width: 120px
$dashboard-header-height: 64px

// colors
$general-color: #888
$black: #000
$black2: #202124
$custom-blue: #1a73e8
$border-color: #c0c0c0
$background-row: #f8f9fa
$background-dashboard: #dadce0
$border-cell-color: #e2e3e3
